In [1]:
import os
import pandas as pd

In [2]:
os.chdir(r"C:\Users\mmath\OneDrive\Desktop\Capstone\HERC_Sp25\5_Dashboard_Development")

In [14]:
from utils.KNN_Outcome_Plots import plot_staar
from utils.getData import load_data_from_github, get_subject_level_averages

In [ ]:
data = load_data_from_github(2024)
df = data[0]

In [15]:
get_subject_level_averages(df)

,DISTNAME,DISTRICT_id,Mathematics (Approaches Grade Level),Reading/ELA (Approaches Grade Level),Writing (Approaches Grade Level),Science (Approaches Grade Level),Social Studies (Approaches Grade Level),Mathematics (Meets Grade Level),Reading/ELA (Meets Grade Level),Writing (Meets Grade Level),Science (Meets Grade Level),Social Studies (Meets Grade Level),Mathematics (Masters Grade Level),Reading/ELA (Masters Grade Level),Writing (Masters Grade Level),Science (Masters Grade Level),Social Studies (Masters Grade Level)
0,CAYUGA ISD,1902,41.127273,49.245455,NaN,34.756098,35.523810,25.090909,34.518182,NaN,23.097561,22.523810,7.418182,16.772727,NaN,6.634146,8.000000
1,ELKHART ISD,1903,46.154412,56.335821,NaN,47.543478,27.900000,25.536765,33.328358,NaN,20.717391,9.500000,7.389706,14.156716,NaN,6.369565,4.100000
2,FRANKSTON ISD,1904,48.846774,52.098361,NaN,41.738095,38.045455,30.637097,34.598361,NaN,20.595238,20.727273,11.112903,13.106557,NaN,4.047619,6.818182
3,NECHES ISD,1906,44.364583,51.020833,NaN,37.375000,42.937500,29.656250,31.791667,NaN,23.000000,15.500000,10.489583,12.395833,NaN,1.875000,1.875000
4,PALESTINE ISD,1907,65.880000,65.975460,NaN,56.649123,48.222222,38.702857,36.668712,NaN,27.087719,20.925926,11.594286,11.822086,NaN,6.596491,8.740741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,NEWCASTLE ISD,252902,45.307692,47.054945,NaN,30.676471,15.941176,25.538462,28.747253,NaN,16.941176,8.411765,6.934066,11.021978,NaN,7.441176,4.352941
1203,OLNEY ISD,252903,41.920290,46.843750,NaN,43.304348,41.583333,30.217391,31.015625,NaN,27.543478,26.583333,11.217391,14.203125,NaN,9.978261,13.416667
1204,ZAPATA COUNTY ISD,253901,71.116279,75.555556,NaN,50.162791,25.619048,39.813953,44.393162,NaN,21.209302,7.000000,14.441860,16.461538,NaN,6.581395,1.714286
1205,CRYSTAL CITY ISD,254901,48.000000,49.675926,NaN,44.555556,41.444444,23.379630,27.731481,NaN,16.111111,19.777778,6.231481,7.481481,NaN,4.750000,9.055556
1206,LA PRYOR ISD,254902,42.881720,44.031579,NaN,11.885714,16.117647,18.924731,23.221053,NaN,2.971429,2.941176,2.397849,7.884211,NaN,1.685714,0.000000

In [25]:

df[["DISTRICT_id"] + [col for col in df.columns if 'Mathematics' in col and 'Approaches Grade Level' in col and 'Rate' in col and "All Students" in col]]

,DISTRICT_id,"District 2024 Domain 1A: Approaches Grade Level STD, Grade 3, All Students, STAAR Mathematics Rate","District 2024 Domain 1A: Approaches Grade Level STD, Grade 4, All Students, STAAR Mathematics Rate","District 2024 Domain 1A: Approaches Grade Level STD, Grade 5, All Students, STAAR Mathematics Rate","District 2024 Domain 1A: Approaches Grade Level STD, Grade 6, All Students, STAAR Mathematics Rate","District 2024 Domain 1A: Approaches Grade Level STD, Grade 7, All Students, STAAR Mathematics Rate","District 2024 Domain 1A: Approaches Grade Level STD, Grade 8, All Students, STAAR Mathematics Rate"
0,1902,74.0,43.0,76.0,78.0,89.0,75.0
1,1903,72.0,77.0,89.0,66.0,69.0,52.0
2,1904,83.0,63.0,91.0,98.0,80.0,80.0
3,1906,72.0,61.0,77.0,80.0,88.0,96.0
4,1907,71.0,52.0,82.0,76.0,68.0,82.0
...,...,...,...,...,...,...,...
1202,252902,79.0,82.0,71.0,87.0,93.0,87.0
1203,252903,73.0,53.0,76.0,83.0,76.0,90.0
1204,253901,74.0,77.0,86.0,48.0,42.0,68.0
1205,254901,75.0,50.0,46.0,64.0,46.0,80.0
1206,254902,71.0,88.0,73.0,61.0,45.0,82.0

In [52]:
def get_subject_level_averages(df):
    """
    Calculate average performance level scores by subject for each district.

    Args:
        df (pd.DataFrame): Raw district-level dataframe with subject-level performance columns.

    Returns:
        pd.DataFrame: DataFrame containing DISTNAME, DISTRICT_id, and mean performance scores for each subject-level combination.
    """
    level_mapping = {
        'Approaches Grade Level': {
            'Mathematics': [col for col in df.columns if 'Mathematics' in col and 'Approaches Grade Level' in col],
            'Reading/ELA': [col for col in df.columns if 'Reading/ELA' in col and 'Approaches Grade Level' in col],
            'Writing': [col for col in df.columns if 'Writing' in col and 'Approaches Grade Level' in col],
            'Science': [col for col in df.columns if 'Science' in col and 'Approaches Grade Level' in col],
            'Social Studies': [col for col in df.columns if 'Social Studies' in col and 'Approaches Grade Level' in col],
        },
        'Meets Grade Level': {
            'Mathematics': [col for col in df.columns if 'Mathematics' in col and 'Meets Grade Level' in col],
            'Reading/ELA': [col for col in df.columns if 'Reading/ELA' in col and 'Meets Grade Level' in col],
            'Writing': [col for col in df.columns if 'Writing' in col and 'Meets Grade Level' in col],
            'Science': [col for col in df.columns if 'Science' in col and 'Meets Grade Level' in col],
            'Social Studies': [col for col in df.columns if 'Social Studies' in col and 'Meets Grade Level' in col],
        },
        'Masters Grade Level': {
            'Mathematics': [col for col in df.columns if 'Mathematics' in col and 'Masters Grade Level' in col],
            'Reading/ELA': [col for col in df.columns if 'Reading/ELA' in col and 'Masters Grade Level' in col],
            'Writing': [col for col in df.columns if 'Writing' in col and 'Masters Grade Level' in col],
            'Science': [col for col in df.columns if 'Science' in col and 'Masters Grade Level' in col],
            'Social Studies': [col for col in df.columns if 'Social Studies' in col and 'Masters Grade Level' in col],
        }
    }

    df_result = df[['DISTNAME', 'DISTRICT_id']].copy()

    for level, subjects in level_mapping.items():
        for subject, columns in subjects.items():
            df_result[f'{subject} ({level})'] = df[columns].mean(axis=1)

    return df_result

In [53]:
def get_subject_level_averages(df):
    """
    Calculate average performance level scores by subject for each district.

    Args:
        df (pd.DataFrame): Raw district-level dataframe with subject-level performance columns.

    Returns:
        pd.DataFrame: DataFrame containing DISTNAME, DISTRICT_id, and mean performance scores for each subject-level combination.
    """
    level_mapping = {
        'Approaches Grade Level': {
            'Mathematics': [col for col in df.columns if 'Mathematics' in col and 'Approaches Grade Level' in col and "Rate" in col and "All Students" in col],
            'Reading/ELA': [col for col in df.columns if 'Reading/ELA' in col and 'Approaches Grade Level' in col and "Rate" in col and "All Students" in col],
            'Writing': [col for col in df.columns if 'Writing' in col and 'Approaches Grade Level' in col and "Rate" in col and "All Students" in col],
            'Science': [col for col in df.columns if 'Science' in col and 'Approaches Grade Level' in col and "Rate" in col and "All Students" in col],
            'Social Studies': [col for col in df.columns if 'Social Studies' in col and 'Approaches Grade Level' in col and "Rate" in col and "All Students" in col] ,
        },
        'Meets Grade Level': {
            'Mathematics': [col for col in df.columns if 'Mathematics' in col and 'Meets Grade Level' in col and "Rate" in col and "All Students" in col],
            'Reading/ELA': [col for col in df.columns if 'Reading/ELA' in col and 'Meets Grade Level' in col and "Rate" in col and "All Students" in col],
            'Writing': [col for col in df.columns if 'Writing' in col and 'Meets Grade Level' in col and "Rate" in col and "All Students" in col],
            'Science': [col for col in df.columns if 'Science' in col and 'Meets Grade Level' in col and "Rate" in col and "All Students" in col],
            'Social Studies': [col for col in df.columns if 'Social Studies' in col and 'Meets Grade Level' in col and "Rate" in col and "All Students" in col],
        },
        'Masters Grade Level': {
            'Mathematics': [col for col in df.columns if 'Mathematics' in col and 'Masters Grade Level' in col and "Rate" in col and "All Students" in col],
            'Reading/ELA': [col for col in df.columns if 'Reading/ELA' in col and 'Masters Grade Level' in col and "Rate" in col and "All Students" in col],
            'Writing': [col for col in df.columns if 'Writing' in col and 'Masters Grade Level' in col and "Rate" in col and "All Students" in col],
            'Science': [col for col in df.columns if 'Science' in col and 'Masters Grade Level' in col and "Rate" in col and "All Students" in col],
            'Social Studies': [col for col in df.columns if 'Social Studies' in col and 'Masters Grade Level' in col and "Rate" in col and "All Students" in col],
        }
    }

    df_result = df[['DISTNAME', 'DISTRICT_id']].copy()

    for level, subjects in level_mapping.items():
        for subject, columns in subjects.items():
            df_result[f'{subject} ({level})'] = df[columns].mean(axis=1)

    return df_result

In [ ]:
def plot_staar(df, neighbors):
    staar_df = get_subject_level_averages(df)
    neighbors = list(neighbors['DISTRICT_id'])
    #subset staar_df to only contain rows where DISTRICT_id is in neighbors

In [59]:
get_subject_level_averages(df)

,DISTNAME,DISTRICT_id,Mathematics (Approaches Grade Level),Reading/ELA (Approaches Grade Level),Writing (Approaches Grade Level),Science (Approaches Grade Level),Social Studies (Approaches Grade Level),Mathematics (Meets Grade Level),Reading/ELA (Meets Grade Level),Writing (Meets Grade Level),Science (Meets Grade Level),Social Studies (Meets Grade Level),Mathematics (Masters Grade Level),Reading/ELA (Masters Grade Level),Writing (Masters Grade Level),Science (Masters Grade Level),Social Studies (Masters Grade Level)
0,CAYUGA ISD,1902,72.500000,85.333333,NaN,66.5,65.0,44.666667,63.333333,NaN,44.0,41.0,13.333333,30.166667,NaN,14.0,18.0
1,ELKHART ISD,1903,70.833333,85.166667,NaN,76.0,45.0,40.833333,54.166667,NaN,37.0,14.0,12.833333,23.333333,NaN,10.0,5.0
2,FRANKSTON ISD,1904,82.500000,86.833333,NaN,71.0,68.0,57.000000,62.666667,NaN,39.0,38.0,21.500000,25.333333,NaN,8.5,14.0
3,NECHES ISD,1906,79.000000,90.333333,NaN,66.0,78.0,53.500000,59.000000,NaN,41.5,30.0,19.500000,23.666667,NaN,4.5,4.0
4,PALESTINE ISD,1907,71.833333,71.666667,NaN,61.5,53.0,43.333333,41.833333,NaN,29.5,22.0,13.500000,13.833333,NaN,7.5,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,NEWCASTLE ISD,252902,83.166667,85.833333,NaN,61.5,35.0,47.166667,53.000000,NaN,33.5,18.0,12.000000,20.000000,NaN,13.5,12.0
1203,OLNEY ISD,252903,75.166667,82.166667,NaN,80.5,77.0,57.500000,59.000000,NaN,57.0,50.0,24.166667,29.166667,NaN,22.5,27.0
1204,ZAPATA COUNTY ISD,253901,65.833333,69.166667,NaN,50.0,28.0,38.166667,42.166667,NaN,21.5,8.0,14.333333,15.500000,NaN,6.5,2.0
1205,CRYSTAL CITY ISD,254901,60.166667,61.833333,NaN,54.5,54.0,29.666667,35.833333,NaN,19.0,26.0,7.166667,9.833333,NaN,4.5,12.0
1206,LA PRYOR ISD,254902,70.000000,76.000000,NaN,19.0,27.0,32.166667,40.333333,NaN,4.5,5.0,4.666667,14.166667,NaN,2.0,0.0

In [63]:
from utils.KNN_Model import find_nearest_districts
df, demo_dict, neighbors = find_nearest_districts(2024, 1902, ['student_teacher_ratio'])

In [64]:
df

,DISTRICT_id,DISTNAME,District 2023 Graduates: All Students Count (excluding FHSP/Texas First-DLA),District 2023 Graduates: RHSP/DAP All Students Count_x,District 2023 Graduates: FHSP-E All Students Count_x,District 2023 Graduates: FHSP-DLA All Students Count_x,District 2023 Graduates: RHSP/DAP/FHSP-E/FHSP-DLA/Texas First-DLA All Students Count,District 2023 Graduates: All Students Count All Students Denominator,District 2023 Graduates: FHSP All Students Count All Students Denominator,District 2023 Graduates: African American Count (excluding FHSP/Texas First-DLA),...,"District 2024 Domain 1A: Approaches Grade Level STD, Grade 8, Non-Continuous Enrollee, STAAR Science Rate","District 2024 Domain 1A: Meets Grade Level STD, Grade 8, Non-Continuous Enrollee, STAAR Science Rate","District 2024 Domain 1A: Masters Grade Level STD, Grade 8, Non-Continuous Enrollee, STAAR Science Rate",District,District Number,TEA District Type,TEA Description,NCES District Type,NCES Description,Charter School (Y/N)
0,1902,CAYUGA ISD,NaN,NaN,0.0,39.0,39.0,39.0,39.0,NaN,...,50.0,42.0,0.0,CAYUGA ISD,1902,H,Rural,43,Rural-Remote,N
1,1903,ELKHART ISD,NaN,NaN,3.0,53.0,56.0,66.0,66.0,NaN,...,88.0,58.0,12.0,ELKHART ISD,1903,G,Non-metropolitan Stable,42,Rural-Distant,N
2,1904,FRANKSTON ISD,NaN,NaN,1.0,49.0,50.0,54.0,54.0,NaN,...,50.0,35.0,5.0,FRANKSTON ISD,1904,H,Rural,42,Rural-Distant,N
3,1906,NECHES ISD,NaN,NaN,4.0,21.0,25.0,26.0,26.0,NaN,...,86.0,86.0,0.0,NECHES ISD,1906,H,Rural,42,Rural-Distant,N
4,1907,PALESTINE ISD,NaN,NaN,16.0,217.0,233.0,235.0,235.0,NaN,...,60.0,35.0,6.0,PALESTINE ISD,1907,E,Independent Town,32,Town-Distant,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,252902,NEWCASTLE ISD,NaN,NaN,0.0,11.0,11.0,11.0,11.0,NaN,...,60.0,40.0,0.0,NEWCASTLE ISD,252902,H,Rural,42,Rural-Distant,N
1203,252903,OLNEY ISD,NaN,NaN,4.0,34.0,38.0,38.0,38.0,NaN,...,69.0,62.0,23.0,OLNEY ISD,252903,H,Rural,32,Town-Distant,N
1204,253901,ZAPATA COUNTY ISD,NaN,NaN,4.0,207.0,211.0,230.0,230.0,NaN,...,44.0,22.0,6.0,ZAPATA COUNTY ISD,253901,D,Other Central City Suburban,33,Town-Remote,N
1205,254901,CRYSTAL CITY ISD,NaN,NaN,0.0,135.0,135.0,143.0,143.0,NaN,...,45.0,23.0,9.0,CRYSTAL CITY ISD,254901,G,Non-metropolitan Stable,33,Town-Remote,N
1206,254902,LA PRYOR ISD,NaN,NaN,1.0,26.0,27.0,28.0,28.0,NaN,...,33.0,0.0,0.0,LA PRYOR ISD,254902,H,Rural,43,Rural-Remote,N

In [66]:
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import pandas as pd

def plot_staar(df, neighbors):
    staar_df = get_subject_level_averages(df)
    neighbor_ids = list(neighbors['DISTRICT_id'])

    # Filter to only include selected districts
    staar_df = staar_df[staar_df['DISTRICT_id'].isin(neighbor_ids)]

    # Define subjects and performance levels
    subjects = ['Mathematics', 'Reading/ELA', 'Science', 'Social Studies']
    levels = ['Approaches Grade Level', 'Meets Grade Level', 'Masters Grade Level']

    # Predefine traces and buttons
    data = []
    buttons = []

    for i, subject in enumerate(subjects):
        traces = []
        for level in levels:
            col = f"{subject} ({level})"
            trace = go.Bar(
                x=staar_df['DISTNAME'],
                y=staar_df[col],
                name=level,
                visible=(i == 0)  # Only show the first subject initially
            )
            traces.append(trace)
            data.append(trace)

        # Create visibility mask for this subject
        visibility = [False] * len(subjects) * len(levels)
        for j in range(len(levels)):
            visibility[i * len(levels) + j] = True

        button = dict(
            label=subject,
            method="update",
            args=[{"visible": visibility},
                  {"title": f"STAAR Performance for {subject}"}]
        )
        buttons.append(button)

    layout = go.Layout(
        title="STAAR Performance for Mathematics",
        barmode='group',
        xaxis_title="District Name",
        yaxis_title="Percent of Students",
        updatemenus=[dict(
            active=0,
            buttons=buttons,
            x=1.1,
            xanchor="left",
            y=1.15,
            yanchor="top"
        )]
    )

    fig = go.Figure(data=data, layout=layout)
    fig.update_layout(legend_title_text="Performance Level", height=600)
    return fig



plot_staar(df, neighbors)